
# Introduction
This is a Notebook that will be used as a proof of concept for Jupyter Notebooks within our environment and also for the
Data Analytics team. These notebooks can be used as walkthroughs, or even just notebooks to test scripts out in an environment
with a walkthrough procedure.
## Versions:

* V1: First initial draft of a walkthrough of the Pandas library

## First Step: Import the Necessary libraries for Data Analysis
In order for our python script to work for data analysis we need to import some of the modules needed to do this.
The Anaconda distribution that we installed has already installed the modules needed, but we can always download some more
in the future.


__The following modules will need to be imported:__
* pandas
* numpy
* matplotlib.pyplot


In order to import a module, you must type in the following cell:

In [17]:
#Import section
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


## Importing a Dataset

Now that our modules have been imported, we need to now import our dataset into our notebook so we have some data to work with.
We will be working with the 'employment.csv' file that was created with this notebook. This is a small CSV to work with so
that the basics can be worked on.

__There are a multitude of ways to read data into a Dataframe:__
* read_csv()
* read_sql_table()
* read_json()

The most commonly used one is read_csv, so this tutorial will be using it. In the cell below, I provided the Folder path of where
my dataset is, and assigned it to the variable df (short for Dataframe).

In [18]:
#Imports the Dataset
df = pd.read_csv('C://Users//USPEREZAL//Desktop//End User Protection//Jupyter Notebooks//employment.csv')

## Quicklook into our Dataframe

Now that our Dataframe has been created, its a good procedure to see what our data looks like so we will print or display the Dataframe to see whats the data we're looking at.

__Printing__ the dataframe will print out the dataframe, this is pretty good for a quick look
__Displaying__ the dataframe makes the dataframe look nicer, and also will be useful for reports.

In [19]:
#This will print the dataframe
print(df)

    Name   Age       Occupation  Salary
0    Ben  23.0          Trainee   32000
1    Amy  30.0         Engineer   90000
2    Tim   NaN  Project Manager  150000
3  Sarah  37.0        Marketing   73000

In [20]:
#This will display the dataframe
display(df)

    Name   Age       Occupation  Salary
0    Ben  23.0          Trainee   32000
1    Amy  30.0         Engineer   90000
2    Tim   NaN  Project Manager  150000
3  Sarah  37.0        Marketing   73000

## Summarizing the Data

We have seen what our Dataframe looks like now. We have 4 columns:
* Name
* Age
* Occupation
* Salary

We can see that the columns have values stored in them. We even have a __missing__ value! This is a pretty common occurence whe working with Datasets, but we will learn how to handle those later.

We need to see what type of Datatypes we are working with, and also the overall size of our dataframe.

To do this, we are going to use the __.info()__ command on our dataframe

In [23]:
#Showing info on our dataframe
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
Name          4 non-null object
Age           3 non-null float64
Occupation    4 non-null object
Salary        4 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 136.0+ bytes
None

With this command, we can now see a lot more information regarding our Dataframe. The info command is a great way to summarize alot of the information that you are working with and it will also let you know the datatypes for each column, the amount of missing values within your dataframe, the amount of memory usage, and etc.

## Handling Missing Data

It is more than likely that in every dataset you work with, there will be missing values. It is nearly unavoidable. While this could lead to headaches, there are ways to clean/fix your dataset.

If its a number column, you can take the mean of the column and have it fill out the blank column.

You could remove the row as a whole if it makes it easier for your dataset to be cleaner, but then you may miss the whole picture.

You could replace the missing values with a string like "unknown".